<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>koa2</title>
  <link rel="stylesheet" href="/koa2/css/index.css">
</head>
<body>
  <div id="app">
    <a href="/koa2/api/get-file">get-file</a> <br/>
    <a href="/koa2/api/download">DownLoad</a> <br/>
    <a href="/koa2/api/stream-download">Stream---DownLoad</a> <br/>
    
    <!-- <h2 class="koa-title">{{msg}}</h2> -->
  </div>

  <script src="/koa2/js/vue.min.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: () => {
        return {
          msg: 'koa2 vue2'
        }
      }
    })
  </script>
</body>
</html>
